/* Globals */

:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  /*Contrast Ratio with black text 7.27:1*/
  --color-btn: #eb7911;
  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: transparent;
}

/* Snippets */

.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

.thumbnails-wrapper {
  color: var(--color);
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul.thumbnails {
  list-style: none;
  padding: 0;
  margin: 0
}

ul.thumbnails li {
  cursor: zoom-in;
  display: inline-block;
  padding-left: 6px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.5s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.modal-content-wide {
  width: 80%;
}

.modal-content-tall {
  width: 80%;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0.2s, opacity 0.5s 0s, transform 0.5s;
}

.close-button {
  float: right;
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 0;
}

.load-button {
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  background-color: var(--color-btn);
}

/* phones*/

@media (min-width:320px) {
  .modal-content-wide {
    width: 80%;
  }
  .modal-content-tall {
    width: 60%;
  }
}

/* smaller tablets */

@media (min-width:480px) {
  .modal-content-wide {
    width: 60%;
  }
  .modal-content-tall {
    width: 40%;
  }
}

@media (min-width:768px) and (orientation: landscape) {
  .modal-content-tall {
    width: 24%;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:961px) {
  .modal-content-wide {
    width: 60%;
  }
  .modal-content-tall {
    width: 40%;
  }
}

@media (min-width:812px) and (orientation: landscape) {
  .modal-content-tall {
    width: 24%;
  }
}

/* big landscape tablets, laptops, desktops, and hi-res laptops and desktops*/

@media (min-width:1025px) {
  .modal-content-wide {
    width: 60%;
  }
  .modal-content-tall {
    width: 50%;
  }
}

@media (min-width:1281px) {
  .modal-content-wide {
    width: 60%;
  }
  .modal-content-tall {
    width: 27%;
  }
}