/* Globals */

:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Snippets */

.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

.thumbnails-wrapper {
  color: var(--color);
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul#thumbnails {
  list-style: none;
  padding: 0;
  margin: 0
}

ul#thumbnails li {
  cursor: pointer;
  display: inline-block;
  padding-left: 6px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.5s, opacity 0.5s, transform 0.5;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 1rem 1.5rem;
  transform: translate(-50%, -50%);
}

.show-modal {
  opacity: 1;
  visibility: visible;
}